* {
    font-family: "Source Sans Pro",Avenir,"微软雅黑", Helvetica Neue, Helvetica, Arial, freesans,clean;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Source Sans Pro",sans-serif;
    text-transform: capitalize;
    line-height: 1.1;
}

html,body,h1,h2,h3,h4,h5,h6,p,blockquote,pre,code,em,img,small,strong,sub,sup,b,i,dl,dt,dd,ol,ul,li,table,tbody,tfoot,thead,tr,th,td {
    border: 0;
    /* font-size: <fontsize>px; dynamic variable set in application preferences*/
    font-size: 15px;
    margin: 0;
    padding: 0;
    outline: 0;

}

body {
    /*-webkit-font-smoothing: antialiased;*/
    background-color: rgba(244,244,244,0.8);
    -webkit-border-radius: 3px; 
            border-radius: 3px; 
    border:3px solid #EEE;
    -webkit-box-shadow: inset 0 0 0 1px #cecece;
            box-shadow: inset 0 0 0 1px #cecece;
    max-width:912px;
    margin:2em auto;
    padding-top: 12px;
    padding-right: 30px; /* padding-right: 0; (set to 30 for example render) */
    padding-bottom: 9px;
    padding-left: 30px; /* padding-left: 0; (set to 30 for example render) */
    color: #333;
}

/* EMBEDS */
img {
    display: block;
    padding: 10px 0;
    max-width: 100%;
}

.video_embed {
    display: block;
    padding: 10px 0;
    height: <videoheight>px; /* dynamic variable set by application */
    width: <screenwidth>px; /* dynamic variable set by application */
}

/* STYLES */
em {
    color: #373737;
}

strong {
    color: #252525;
}

a {
    color: #47B1C7;
    text-decoration: none;
}

a:hover {
    color: #EA4C89;
}

hr {
    border: 0;
    border-top: 1px solid #eaeaea;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}


/* HEADERS */


h1 {
    
    font-size: 38px;
    color: rgba(0,0,0,0.7);
    text-shadow: 0 1px 0 #fff;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 28px;
    margin: .67em 0;
    box-sizing: border-box;
    display: block;
}

h1.title {
    font-size: 2.0em;
    font-weight: 500;
    color: #26748F;
    line-height: 1.3;
    margin: 11px 0 16px;
}

h2 {
    border-bottom: 2px solid #aaa;
    color: #419eda;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 60px;
    margin-bottom: 30px;
    text-shadow: 0 1px 0 #fff;
}
h3,h4,h5,h6 {
    line-height: 1.1;
    margin: 24px 0 5px;
}

h3 {
    color: #f04c5c;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 10px;
}

h4 {
    color: #26748F;
    font-size: 1.1em;
    font-weight: 500;
    padding-bottom: 3px;
    border-bottom: 1px solid #ddd;
}

h5 {
    font-size: 1em;
    font-weight: 400;
    color: #26748F;
}

h6 {
    color: #415F6C;
    font-size: .85em;
    font-weight: 700;
    font-variant: italic;
    border-bottom: 1px solid #ddd;
    padding-bottom: 3px;
    text-transform: uppercase;
}


dl,ol,ul,p,blockquote,pre {
    margin-top: 12px;
    margin-bottom: 18px;
}



/* LISTS */

ol,ul {
    margin: .8em 0;
    padding-left: 23px;
}

ol li {
    margin-left: .5em;
    margin-bottom: .3em;
}

ul li {
    margin-left: .5em;
    margin-bottom: .3em;
}

ol ol,ol ul,ul ol,ul ul {
    margin: .3em 0;
}

.footnotes ol li {
    margin-bottom: 10px;
    margin-left: 16px;
    font-weight: 800;
    font-size: .9em;
}

.footnotes ol li p {
    font-weight: 400;
    font-size: 1em;
}

/*blockquote
{
  display:block;
  font-size:1.15em;
  margin: 1px;
  padding: 0 20px;
  border-left: 5px solid #eee8d5; 
  color: #93a1a1; 
  border-radius: 4px;
}*/

/*pre
{
  display:block;
  line-height:1.5em;
  padding: 4px;
  border: 4px solid #839496;  
}

pre, code
{

  font-face: "Ubuntu Mono derivative powerline",Inconsolata,Anonymous Pro,Anonymous,Droid Sans Mono,Andale Mono,Monaco,monospace!important;
  font-size: 0.9em!important;

  word-wrap: break-word;
}*/
/* code */
/* preformatted */
blockquote {
    border-left: solid .4em #ddd;
    padding-left: 10px;
    quotes: none;
}

pre,code,tt {
    font: 1em 'Soure code pro for powerline', Menlo, monospace;
}

pre {
    background-color: #f8f8f8;
    border: #E8E8E8 1px solid;
    color: #444;
    display: block;
    margin: 12px 0;
    overflow: auto;
    padding: 6px 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    cursor: text;
    max-width: 100%;
    overflow: auto;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

code {
    display: inline-block;
    padding: 2px 2px;
    font-size: .95em;
    color: #2c92b0;
}


/*pre code {
    font-size: .95em;
    padding: 0 !important;
    background-color: #F6F6F6;
    border: none !important;
    overflow: visible;
}*/

/* tables */
table {
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-spacing: 0;
}

table th {
    padding: 3px 10px;
    background-color: #eee;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

table tr {
}

table td {
    padding: 3px 10px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

/* sub */
sup,sub,a.footnote {
    font-size: 1.4ex;
    height: 0;
    line-height: 1;
    vertical-align: super;
    position: relative;
    font-weight: 800;
}

sub {
    vertical-align: sub;
    top: -1px;
}

small {
    font-size: 85%;
}

mark {
    background: #ff0;
    color: #000;
    font-style: italic;
    font-weight: 600;
}


.highlight{
  background:#ffffff
}

.highlight .c{
  color:#999988;
  font-style:italic
}

.highlight .err{
  color:#a61717;
  background-color:#e3d2d2
}

.highlight .k{
  font-weight:bold
}

.highlight .o{
  font-weight:bold
}

.highlight .cm{
  color:#999988;
  font-style:italic
}

.highlight .cp{
  color:#999999;
  font-weight:bold
}

.highlight .c1{
  color:#999988;
  font-style:italic
}

.highlight .cs{
  color:#999999;
  font-weight:bold;
  font-style:italic
}

.highlight .gd{
  color:#000000;
  background-color:#ffdddd
}

.highlight .gd .x{
  color:#000000;
  background-color:#ffaaaa
}

.highlight .ge{
  font-style:italic
}

.highlight .gr{
  color:#aa0000
}

.highlight .gh{
  color:#999999
}

.highlight .gi{
  color:#000000;
  background-color:#ddffdd
}

.highlight .gi .x{
  color:#000000;
  background-color:#aaffaa
}

.highlight .go{
  color:#888888
}

.highlight .gp{
  color:#555555
}

.highlight .gs{
  font-weight:bold
}

.highlight .gu{
  color:#800080;
  font-weight:bold
}

.highlight .gt{
  color:#aa0000
}

.highlight .kc{
  font-weight:bold
}

.highlight .kd{
  font-weight:bold
}

.highlight .kn{
  font-weight:bold
}

.highlight .kp{
  font-weight:bold
}

.highlight .kr{
  font-weight:bold
}

.highlight .kt{
  color:#445588;
  font-weight:bold
}

.highlight .m{
  color:#009999
}

.highlight .s{
  color:#d14
}

.highlight .n{
  color:#333333
}

.highlight .na{
  color:#008080
}

.highlight .nb{
  color:#0086B3
}

.highlight .nc{
  color:#445588;
  font-weight:bold
}

.highlight .no{
  color:#008080
}

.highlight .ni{
  color:#800080
}

.highlight .ne{
  color:#990000;
  font-weight:bold
}

.highlight .nf{
  color:#990000;
  font-weight:bold
}

.highlight .nn{
  color:#555555
}

.highlight .nt{
  color:#000080
}

.highlight .nv{
  color:#008080
}

.highlight .ow{
  font-weight:bold
}

.highlight .w{
  color:#bbbbbb
}

.highlight .mf{
  color:#009999
}

.highlight .mh{
  color:#009999
}

.highlight .mi{
  color:#009999
}

.highlight .mo{
  color:#009999
}

.highlight .sb{
  color:#d14
}

.highlight .sc{
  color:#d14
}

.highlight .sd{
  color:#d14
}

.highlight .s2{
  color:#d14
}

.highlight .se{
  color:#d14
}

.highlight .sh{
  color:#d14
}

.highlight .si{
  color:#d14
}

.highlight .sx{
  color:#d14
}

.highlight .sr{
  color:#009926
}

.highlight .s1{
  color:#d14
}

.highlight .ss{
  color:#990073
}

.highlight .bp{
  color:#999999
}

.highlight .vc{
  color:#008080
}

.highlight .vg{
  color:#008080
}

.highlight .vi{
  color:#008080
}

.highlight .il{
  color:#009999
}

.highlight .gc{
  color:#999;
  background-color:#EAF2F5
}

.type-csharp .highlight .k{
  color:#0000FF
}

.type-csharp .highlight .kt{
  color:#0000FF
}

.type-csharp .highlight .nf{
  color:#000000;
  font-weight:normal
}

.type-csharp .highlight .nc{
  color:#2B91AF
}

.type-csharp .highlight .nn{
  color:#000000
}

.type-csharp .highlight .s{
  color:#A31515
}

.type-csharp .highlight .sc{
  color:#A31515
}